



.default-copy{
  color: @dark-grey;

  h2{
    .playfair-bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.005em;

    margin-bottom: 20px;
  }
  p{
    .open-sans-regular;
    font-size: 18px;
    line-height: 28px;

    span.letter{
      .playfair-bold;
      font-size: 58px;
      line-height: 28px * 2;
      color: @yellow;                     // default

      float: left;
      margin-right: 6px;


    }
  }





  ul{


    li{
      .open-sans-semi-bold;
      font-size: 18px;
      line-height: 28px;

      padding-left: 10px;
      position: relative;

      margin-bottom: 14px;

      &:last-child{
        margin-bottom: 0px;
      }

      &:before{
        display: block;
        content: "\f111";

        .fa;
        font-size: 6px;
        line-height: 28px;
        text-align: left;

        position: absolute;
        top: 0;
        left: 0;
        width: 10px;

      }
      i{
        .open-sans-italic;
        font-size: 18px;
        line-height: 28px;
      }
    }
  }






  ////////////////

  &.food-version{
    p span.letter{
      color: @yellow;
    }
  }
  &.people-version{
    p span.letter{
      color: @green;
    }
  }
  &.travel-version{
    p span.letter{
      color: @orange;
    }
  }
  &.events-version{
    p span.letter{
      color: @light-blue;
    }
  }

} // .default-copy





// TABLET PORTRAIT & SMALL DESKTOP
@media only screen and (max-width: 991px) {
  .default-copy{
    p{
      font-size: 14px;
      line-height: 24px;

      span.letter{
        font-size: 45px;
        line-height: 24px * 2;

        position: relative;
        top: -4px;
        left: -1px;

        margin-right: 4px;
      }
    }

    h2{
      font-size: 18px;
      line-height: 24px;

      // margin-bottom: 8px;
      margin-bottom: 6px;
    }

    ul{
      li{
        font-size: 14px;
        line-height: 24px;

        padding-left: 10px + 14px;
        padding-right: 24px;

        margin-bottom: 16px;

        &:before{
          left: 0 + 14px - 2px;
          top: 1px;

          font-size: 5px;
          line-height: 24px;
        }

        i{
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
}












//    _____ _____ __  __ ____  _        _  _____ _____   ____  _     ___ ____  _____ ____
//   |_   _| ____|  \/  |  _ \| |      / \|_   _| ____| / ___|| |   |_ _|  _ \| ____|  _ \
//     | | |  _| | |\/| | |_) | |     / _ \ | | |  _|   \___ \| |    | || | | |  _| | |_) |
//     | | | |___| |  | |  __/| |___ / ___ \| | | |___   ___) | |___ | || |_| | |___|  _ <
//     |_| |_____|_|  |_|_|   |_____/_/   \_\_| |_____| |____/|_____|___|____/|_____|_| \_\
//




.page-template-slider{

  width: 100%;
  height: 520px;
  overflow: hidden;
  
  font-size: 0;

  .page-template-slider-item{
    width: 100%;
    height: 520px;
    .display-inline-block;

    .manic-image-container{
      height: 520px;
    }

  }




  .slick-prev,
  .slick-next{
    z-index: 200;
    width: 36px;
    height: 36px;
    .transition-in(0.3s);

    &:before{
      content: "";

    }
    &:after{
      top: 0;
      
      background: transparent !important;
      text-indent: 0;
      .fa;
      font-size: 34px;
      line-height: 36px;
      color: @white;
    }

    &.slick-disabled{
      pointer-events: none;
      .opacity_important(0.5);
    }
  }

  .slick-prev{
    left: 18px;
    right: auto;

    &:after{
      content: "\f104";
      left: 7px;
    }
  }
  .slick-next{
    left: auto;
    right: 18px;

    &:after{
      content: "\f105";
      right: 7px;

    }
  }

} // .page-template-slider


// TABLET PORTRAIT & SMALL DESKTOP
@media only screen and (max-width: 991px) {
  .page-template-slider{
    height: 360px;
    width: auto;
    margin-left: -15px;
    margin-right: -15px;

    .page-template-slider-item{
      height: 360px;

      .manic-image-container{
        height: 360px;
        margin-left: 0px !important;
        margin-right: 0px !important;

      }
    }

    .slick-prev,
    .slick-next{
      &:after{
        font-size: 22px;
      }
    }
    .slick-prev{
      left: -8px;
    }
    .slick-next{
      right: -8px;
    }
  }
}


// MOBILE
@media only screen and (max-width: 767px) {
  .page-template-slider{
    height: 200px;
    .page-template-slider-item{
      height: 200px;

      .manic-image-container{
        height: 200px;

      }
    }
  }
}




//    ____   _    ____ ___ _   _    _  _____ ___ ___  _   _
//   |  _ \ / \  / ___|_ _| \ | |  / \|_   _|_ _/ _ \| \ | |
//   | |_) / _ \| |  _ | ||  \| | / _ \ | |  | | | | |  \| |
//   |  __/ ___ \ |_| || || |\  |/ ___ \| |  | | |_| | |\  |
//   |_| /_/   \_\____|___|_| \_/_/   \_\_| |___\___/|_| \_|
//



#page-pagination{

  text-align: right;


  .next-btn,
  .prev-btn{
    .fa;
    font-size: 18px;
    line-height: 20px;
    color: @dark-grey;

    .display-inline-block;

    &:hover{
      color: @yellow;
    }
  }
  .prev-btn{
    padding-right: 7px;
    &:before{
      content: "\f104";
    }
  }
  .next-btn{
    padding-left: 7px;
    &:before{
      content: "\f105";
    }
  }




  p{
    .montserrat-regular;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: @dark-grey;

    .display-inline-block;
    // padding-right: 7px;
    padding-right: 1px;
  }
  ul{
    font-size: 0;
    line-height: 20px;

    .display-inline-block;

    li{
      .montserrat-regular;
      font-size: 18px;
      line-height: 20px;
      color: @dark-grey;

      .display-inline-block;

      padding-left: 5px;
      padding-right: 5px;

      a{
        .montserrat-regular;
        font-size: 18px;
        line-height: 20px;
        color: @dark-grey;

        display: block;

        &:focus,
        &:hover{
          color: @yellow;
        }
      }


      &.selected{
        a{
          .montserrat-bold;
          color: @yellow;
        }
      }

    } // li
  } // ul

} // #page-pagination