

#page-template-content{
  padding-top: 63px;
  padding-bottom: 100px;
}


// TABLET PORTRAIT & SMALL DESKTOP
@media only screen and (max-width: 991px) {
  #page-template-content{
    padding-top: 16px;
    padding-bottom: 0px;
  }

}



//    _____ ___ _____ _     _____
//   |_   _|_ _|_   _| |   | ____|
//     | |  | |  | | | |   |  _|
//     | |  | |  | | | |___| |___
//     |_| |___| |_| |_____|_____|
//

#page-template-title-section{
  margin-bottom: 36px;

  h3{
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: @yellow;                         // default;
    text-transform: uppercase;

    margin-bottom: 2px;
  }
  h1{
    // .playfair-bold;
    .raleway-bold;
    font-size: 48px;
    line-height: 57px;
  }

  &.food-version{
    h3{
      color: @yellow;
    }
  }
  &.people-version{
    h3{
      color: @green;
    }
  }
  &.travel-version{
    h3{
      color: @orange;
    }
  }
  &.events-version{
    h3{
      color: @light-blue;
    }
  }

} // #page-template-title-section


// TABLET PORTRAIT & SMALL DESKTOP
@media only screen and (max-width: 991px) {
  #page-template-title-section{
    margin-bottom: 23px;

    h3{
      font-size: 11px;
      line-height: 14px;

      margin-bottom: 3px;
    }
    h1{
      font-size: 22px;
      line-height: 28px;
    }
  }
}


//    ____    _    _   _ _   _ _____ ____
//   | __ )  / \  | \ | | \ | | ____|  _ \
//   |  _ \ / _ \ |  \| |  \| |  _| | |_) |
//   | |_) / ___ \| |\  | |\  | |___|  _ <
//   |____/_/   \_\_| \_|_| \_|_____|_| \_\
//

#page-template-banner-section{
  position: relative;
  margin-bottom: 60px;




  #page-template-banner-copy{
    padding-top: 22px;

    p{
      .open-sans-light-italic;
      font-size: 22px;
      line-height: 30px;
    }
  }

  &.gallery-version{
    #page-template-banner-copy{
      margin-top: 14px;

      padding-top: 0px;
      width: 100%;
      height: 30px * 2;
      overflow: hidden;


    }
  }
}




#page-template-banner-image{
  height: 520px;
  position: relative;

  iframe{
    width: 100%;
    //height: 520px;
  }

  .manic-image-container,
  .manic-video-container{
    height: 520px;
  }

  .manic-video-container{
    .vjs-big-play-button,
    .vjs-control-bar{
      display: none;
    }

    video{
      -webkit-appearance: none;
      -moz-appearance:    none;
      appearance:         none;
    }
  }
  .video-js{
    background: #333231;
  }

  .play-btn{
    .play-icon-svg;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;

    pointer-events: none;

    .opacity(0.8);
    .transition-in(0.3s);
  }


  &:focus,
  &:hover{
    .play-btn{
      .opacity(1.0);
    }
  }



  &.embed-video-version{
    cursor: pointer;
    //height: auto !important;

    &.video-play-version{

    }
  }


  
  &.youtube-video-version{
    // height: auto !important;
    iframe{
      display: block;
      margin: 0 auto;
    }
  }


  &.short-form-version{
    &.youtube-video-version{
      height: auto !important;
    }
  }

} // #page-template-banner-image


#page-template-banner-image-full-width-container{
  // position: absolute;
  width: 100%;
  height: 520px;
  background: #333231;
  position: relative;

  &:after{
    content: "";
    display: block;

    position: absolute;
    width: 1000px;
    height: 520px;
    top: 0px;
    left: -1000px;
    background: #333231;
  }
  &:before{
    content: "";
    display: block;

    position: absolute;
    width: 1000px;
    height: 520px;
    top: 0px;
    right: -1000px;
    background: #333231;
  }



  #page-template-banner-image{
    // width: 100%;
    height: 520px;
    background: #333231;

    z-index: 20;
  }

}



#page-template-social-button-container{

  position: absolute;
  top: 520px;
  right: 0px;

  width: 30px;

  margin-right: -2px;
  padding-top: 40px;



  ul{
    li{
      display: block;
      margin-bottom: 18px;

      .fa{
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: #cccccc;

        display: block;
        width: 30px;
        height: 30px;
        .transition-in(0.3s);

        &:focus,
        &:hover{
          color: @yellow;
        }
      }
    }
  } // ul


  &.horizontal-version{
    position: relative;
    top: auto;
    right: auto;

    width: auto;
    margin-right: -3px;
    padding-top: 3px;

    text-align: right;

    ul{
      font-size: 0;

      li{
        .display-inline-block;
        margin-bottom: 0;
        margin-left: 26px;

        &:first-child{
          margin-left: 0;
        }
      }
    }
  }

}



// TABLET PORTRAIT & SMALL DESKTOP
@media only screen and (max-width: 991px) {
  #page-template-banner-section{
    margin-bottom: 13px;

    #page-template-banner-copy{
      padding-top: 15px;

      p{
        font-size: 14px;
        line-height: 22px;
      }
    }
  }




  #page-template-banner-image{
    height: 360px;
    margin-left: -15px;
    margin-right: -15px;

    iframe{
      // height: 360px;
    }


    .manic-image-container,
    .manic-video-container{
      height: 360px;
    }

    &.youtube-video-version{
      height: auto;
    }

  }

  #page-template-banner-image-full-width-container{
    height: 360px;

    &:after{
      display: none;
    }
    &:before{
      display: none;
    }
    #page-template-banner-image{
      height: 360px;
    }

    &.youtube-video-version{
      height: auto;
      #page-template-banner-image{
        height: auto;
      }
    }

  }


}

// MOBILE
@media only screen and (max-width: 767px) {
  #page-template-banner-section{
  }
  #page-template-banner-image{
    height: 200px;
    iframe{
      // height: 200px;
    }
    .manic-image-container,
    .manic-video-container{
      height: 200px;
    }
  }


  #page-template-banner-image-full-width-container{
    height: 200px;
    #page-template-banner-image{
      height: 200px;
    }

    &.youtube-video-version{
      height: auto;
      #page-template-banner-image{
        height: auto;
      }
    }
  }


}



//   __     _____ ____  _____ ___    _____ _____  __
//   \ \   / /_ _|  _ \| ____/ _ \  |  ___|_ _\ \/ /
//    \ \ / / | || | | |  _|| | | | | |_   | | \  /
//     \ V /  | || |_| | |__| |_| | |  _|  | | /  \
//      \_/  |___|____/|_____\___/  |_|   |___/_/\_\
//


*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}





//     ____    _    _     _     _____ ______   __
//    / ___|  / \  | |   | |   | ____|  _ \ \ / /
//   | |  _  / _ \ | |   | |   |  _| | |_) \ V /
//   | |_| |/ ___ \| |___| |___| |___|  _ < | |
//    \____/_/   \_\_____|_____|_____|_| \_\|_|
//

#page-template-banner-gallery-item-container{
  width: 100%;
  height: 520px;
  overflow: hidden;
  position: relative;

  font-size: 0;

  background: @black;

  .page-template-banner-gallery-item{
    width: 100%;
    height: 520px;
    position: relative;
    .display-inline-block;
  }


  .slick-prev,
  .slick-next{
    z-index: 200;
    width: 36px;
    height: 36px;
    .transition-in(0.3s);

    &:before{
      content: "";

    }
    &:after{
      top: 0;
      
      background: transparent !important;
      text-indent: 0;
      .fa;
      font-size: 34px;
      line-height: 36px;
      color: @white;
    }

    &.slick-disabled{
      pointer-events: none;
      .opacity_important(0.5);
    }
  }

  .slick-prev{
    left: 18px;
    right: auto;

    &:after{
      content: "\f104";
      left: 7px;
    }
  }
  .slick-next{
    left: auto;
    right: 18px;

    &:after{
      content: "\f105";
      right: 7px;

    }
  }


}



#page-template-banner-thumbnail-item-container{
  //width: 100%;
  
  width: auto;
  height: 124px;
  margin-left: -5px;
  margin-right: -5px;
  
  overflow: hidden;
  position: relative;

  font-size: 0;

  margin-top: 45px;

  .page-template-banner-thumbnail-item{
    width: 124px;
    height: 124px;
    position: relative;

    margin-left: 5px;
    margin-right: 5px;

    .display-inline-block;

    .transition-in(0.3s);
    cursor: pointer;

    outline: none;

    .manic-image-container{
      height: 124px;
    }

    &.selected{
      .opacity(0.5);
    }

    &:focus,
    &:hover{
      .opacity(0.5);
    }

  }
}







//    ___ _   _ _____ ____   ___  ____  _   _  ____ _____ ___ ___  _   _
//   |_ _| \ | |_   _|  _ \ / _ \|  _ \| | | |/ ___|_   _|_ _/ _ \| \ | |
//    | ||  \| | | | | |_) | | | | | | | | | | |     | |  | | | | |  \| |
//    | || |\  | | | |  _ <| |_| | |_| | |_| | |___  | |  | | |_| | |\  |
//   |___|_| \_| |_| |_| \_\\___/|____/ \___/ \____| |_| |___\___/|_| \_|
//

#page-template-introduction-section{
  margin-bottom: 60px;
}

// TABLET PORTRAIT & SMALL DESKTOP
@media only screen and (max-width: 991px) {
  #page-template-introduction-section{
    margin-bottom: 26px;
  }
}





//     ____ ___  _   _ _____ _____ _   _ _____
//    / ___/ _ \| \ | |_   _| ____| \ | |_   _|
//   | |  | | | |  \| | | | |  _| |  \| | | |
//   | |__| |_| | |\  | | | | |___| |\  | | |
//    \____\___/|_| \_| |_| |_____|_| \_| |_|
//

#page-template-content-section{

  section{
    margin-bottom: 60px;

    &:last-child{
      margin-bottom: 0px;
    }

    
    // &:last-child{
    //   margin-bottom: 90px;
    // }
    

  }

  .space{
    margin-bottom: 60px;
  }
  .small-space{
    margin-bottom: 38px;
  }

  .manic-image-container{
    height: 540px;                  // default
  }

}



// TABLET PORTRAIT & SMALL DESKTOP
@media only screen and (max-width: 991px) {
  #page-template-content-section{
    
    section{
      margin-bottom: 27px;

      &:last-child{
        margin-bottom: 0px;
      }

    }

    .space{
      margin-bottom: 27px;
    }
    .small-space{
      margin-bottom: 15px;
    }

    .manic-image-container{
      height: 360px;
      margin-left: -15px;
      margin-right: -15px;
    }

  }

}

// MOBILE
@media only screen and (max-width: 767px) {
  #page-template-content-section{
    .manic-image-container{
      height: 200px;

    }
  }

}




































//    _____ ___   ___ _____ _____ ____    ___ _   _ _____ ___
//   |  ___/ _ \ / _ \_   _| ____|  _ \  |_ _| \ | |  ___/ _ \
//   | |_ | | | | | | || | |  _| | |_) |  | ||  \| | |_ | | | |
//   |  _|| |_| | |_| || | | |___|  _ <   | || |\  |  _|| |_| |
//   |_|   \___/ \___/ |_| |_____|_| \_\ |___|_| \_|_|   \___/
//

#page-template-footer-info-section{
  padding-top: 53px;
  margin-bottom: 46px;

}




#page-template-featured-in-container{
  margin-bottom: 65px;

  .circle-container{

    font-size: 0;
    .display-inline-block;

    padding-top: 10px;
    margin-right: 16px;

    span{
      .display-inline-block;

      width: 10px;
      height: 10px;
      .round(10px);

      margin-right: 8px;

      &:last-child{
        margin-right: 0px;
      }

      &:nth-child(1){
        background-color: @yellow;
      }
      &:nth-child(2){
        background-color: @green;
      }
      &:nth-child(3){
        background-color: @orange;
      }
      &:nth-child(4){
        background-color: @light-blue;
      }
    }
  }
  i{
    .open-sans-italic;
    font-size: 18px;
    line-height: 28px;

    .display-inline-block;
    margin-right: 6px;
  }
  a{
    .montserrat-bold;
    font-size: 18px;
    line-height: 28px;
    color: @yellow;                   // default

    .display-inline-block;
    margin-right: 10px;

    .transition-in(0.3s);
    position: relative;
    top: 1px;

    &:focus,
    &:hover{
      color: @dark-grey !important;
    }
  }

  &.food-version{
    a{
      color: @yellow;
    }
  }

  &.people-version{
    a{
      color: @green;
    }
  }

  &.travel-version{
    a{
      color: @orange;
    }
  }

  &.events-version{
    a{
      color: @light-blue;
    }
  }

}


#page-template-tag-container{
  font-size: 0;
  position: relative;

  padding-left: 56px;
  margin-bottom: 59px;

  p{
    .montserrat-regular;
    font-size: 17px;
    line-height: 22px;
    color: #707070;


    display: block;
    position: absolute;
    top: 0px;
    left: 0px;

  }
  a{
    .montserrat-bold;
    font-size: 11px;
    //font-size: 11.5px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: @white;

    .display-inline-block;
    height: 20px;
    padding-left: 9px;
    padding-right: 9px;

    margin-right: 12px;
    margin-bottom: 11px;

    .transition-in(0.3s);
    .round(4px);
    background: #cccccc;

    &:focus,
    &:hover{
      background: @yellow;  // default
    }
  } // a


  &.food-version{
    a:focus, a:hover{
      background: @yellow;
    }
  }

  &.people-version{
    a:focus, a:hover{
      background: @green;
    }
  }

  &.travel-version{
    a:focus, a:hover{
      background: @orange;
    }
  }

  &.events-version{
    a:focus, a:hover{
      background: @light-blue;
    }
  }

}









//    _____ ___   ___ _____ _____ ____    ___ _   _ _____ ___    __  __  ___  ____ ___ _     _____
//   |  ___/ _ \ / _ \_   _| ____|  _ \  |_ _| \ | |  ___/ _ \  |  \/  |/ _ \| __ )_ _| |   | ____|
//   | |_ | | | | | | || | |  _| | |_) |  | ||  \| | |_ | | | | | |\/| | | | |  _ \| || |   |  _|
//   |  _|| |_| | |_| || | | |___|  _ <   | || |\  |  _|| |_| | | |  | | |_| | |_) | || |___| |___
//   |_|   \___/ \___/ |_| |_____|_| \_\ |___|_| \_|_|   \___/  |_|  |_|\___/|____/___|_____|_____|
//


#page-template-footer-info-section-mobile{

  .circle-container{
    padding-top: 27px;
    padding-bottom: 35px;


    text-align: center;

    span{
      .display-inline-block;

      width: 10px;
      height: 10px;
      .round(10px);

      margin-right: 8px;

      &:last-child{
        margin-right: 0px;
      }

      &:nth-child(1){
        background-color: @yellow;
      }
      &:nth-child(2){
        background-color: @green;
      }
      &:nth-child(3){
        background-color: @orange;
      }
      &:nth-child(4){
        background-color: @light-blue;
      }
    }
  }
}



  






//    ____  _____ _        _  _____ _____ ____       _    ____ _____ ___ ____ _     _____ ____
//   |  _ \| ____| |      / \|_   _| ____|  _ \     / \  |  _ \_   _|_ _/ ___| |   | ____/ ___|
//   | |_) |  _| | |     / _ \ | | |  _| | | | |   / _ \ | |_) || |  | | |   | |   |  _| \___ \
//   |  _ <| |___| |___ / ___ \| | | |___| |_| |  / ___ \|  _ < | |  | | |___| |___| |___ ___) |
//   |_| \_\_____|_____/_/   \_\_| |_____|____/  /_/   \_\_| \_\|_| |___\____|_____|_____|____/
//

#page-template-related-articles-section{

}

#page-template-related-articles-title{
  margin-bottom: 25px;

  h2{
    // .playfair-bold;
    .raleway-bold;
    font-size: 24px;
    line-height: 26px;
    color: #707070;
  }
}



.related-article-item{
  display: block;
  position: relative;
  text-decoration: none;

  .related-article-item-image{
    position: relative;
    margin-bottom: 10px;

    .manic-image-container{
      position: relative;
      height: 180px;
    }
    .play-icon {
      text-align: center;
      background: url(../images/icons/play-icon.png) no-repeat;
      height: 66px;
      width: 66px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -33px;
      margin-left: -33px;

      background-size: contain;
      .opacity(0.8);
      .transition-in(0.3s);
    }
  }
  .related-article-item-text{
    p{
      .montserrat-regular;
      color: @dark-grey;
      font-size: 17px;
      line-height: 22px;
      .transition-in(0.3s);
    }
  }
  .tag {
    .montserrat-bold;
    font-size: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: @grey-2;

    
    position: absolute;
    /*
    left: -20px;
    top: 20px;
    */
    width: 69px;
    height: 30px;
    left: -69px;
    top: 0px;

    background-color: @yellow;                  // default
    border-bottom-left-radius: 15px;
    .transform-origin(100%,0);
    .rotation(-90deg);

    padding-top: 7px;
    
  }

  &:focus,
  &:hover{
    .related-article-item-image{
      .play-icon{
        .opacity(1);
      }
    }
  }



  /////////////////////////
  

  &.food-version{
    .tag{
      background-color: @yellow;
    }
    &:focus,
    &:hover{
      .related-article-item-text p{
        color: @yellow;
      }
    }
  }

  &.people-version{
    .tag{
      background-color: @green;
    }
    &:focus,
    &:hover{
      .related-article-item-text p{
        color: @green;
      }
    }
  }

  &.travel-version{
    .tag{
      background-color: @orange;
    }
    &:focus,
    &:hover{
      .related-article-item-text p{
        color: @orange;
      }
    }
  }

  &.events-version{
    .tag{
      background-color: @light-blue;
    }
    &:focus,
    &:hover{
      .related-article-item-text p{
        color: @light-blue;
      }
    }
  }



} // .related-article-item







//    ____ ___ ____  _____ ____    _    ____
//   / ___|_ _|  _ \| ____| __ )  / \  |  _ \
//   \___ \| || | | |  _| |  _ \ / _ \ | |_) |
//    ___) | || |_| | |___| |_) / ___ \|  _ <
//   |____/___|____/|_____|____/_/   \_\_| \_\
//

#template-sidebar{
  padding-top: 69px;
  padding-left: 32px;
}



.sidebar-article-item{
  display: block;
  margin-bottom: 36px;


  cursor: pointer;

  hr{
    display: block;
    
    border: none;
    width: 100%;
    height: 8px;
    background-color: @yellow;  // default
    .round(8px);

    margin-bottom: 11px;
  }

  .sidebar-article-item-image{
    height: 136px;
    margin-bottom: 4px;
  }
  .manic-image-container{
    height: 136px;
  }


  .sidebar-article-item-text{
    
    p{
      .montserrat-regular;
      font-size: 17px;
      line-height: 22px;
      color: @dark-grey;
      .transition-in(0.3s);
    }
  }


  &:focus,
  &:hover {
    .manic-image-container{
      .opacity(0.7);
    }
    .sidebar-article-item-text p{
      color: @yellow;
    }
  }

  ///////////////////////


  &.food-version{
    hr{
      background-color: @yellow;
    }
    &:focus,
    &:hover{
      .sidebar-article-item-text p{
        color: @yellow;
      }
    }
  }

  &.people-version{
    hr{
      background-color: @green;
    }
    &:focus,
    &:hover{
      .sidebar-article-item-text p{
        color: @green;
      }
    }
  }

  &.travel-version{
    hr{
      background-color: @orange;
    }
    &:focus,
    &:hover{
      .sidebar-article-item-text p{
        color: @orange;
      }
    }
  }

  &.events-version{
    hr{
      background-color: @light-blue;
    }
    &:focus,
    &:hover{
      .sidebar-article-item-text p{
        color: @light-blue;
      }
    }
  }



} // .sidebar-article-item



.sidebar-ad{
  display: block;
  margin-bottom: 40px;
}