html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
input {
  margin: 0;
  padding: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style-type: none;
}
input,
textarea {
  outline: none;
}
strong {
  font-weight: bold;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.cb {
  clear: both;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/*
//used in trax
.improve-font-rendering(){
  -webkit-font-smoothing: antialiased;
  text-shadow: 0px 0px 0px;
  //-webkit-text-stroke: 0.3px;
  //-webkit-text-stroke: 0.2px;
}
*/
.optimize {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: visible;
}
.optimize-02 {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.add-translate-z {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.improve-fonts-02 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.improve-fonts-03 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.add-weight {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
}
.space10 {
  height: 10px;
}
.space15 {
  height: 15px;
}
.space20 {
  height: 20px;
}
.space30 {
  height: 30px;
}
.space40 {
  height: 40px;
}
.space50 {
  height: 50px;
}
.space60 {
  height: 60px;
}
.space70 {
  height: 70px;
}
.space80 {
  height: 80px;
}
.space90 {
  height: 90px;
}
.space100 {
  height: 100px;
}
.fontsize10 {
  font-size: 10px;
}
.fontsize11 {
  font-size: 11px;
}
.fontsize12 {
  font-size: 12px;
}
.fontsize13 {
  font-size: 13px;
}
.fontsize14 {
  font-size: 14px;
}
.fontsize16 {
  font-size: 16px;
}
.fontsize18 {
  font-size: 18px;
}
.fontsize20 {
  font-size: 20px;
}
.fontsize98 {
  font-size: 98px;
  line-height: 98px;
}
@keyframes bottomFadeIn {
  0% {
    -webkit-transform: translate3d(0, 80px, 0);
    -moz-transform: translate3d(0, 80px, 0);
    -o-transform: translate3d(0, 80px, 0);
    -ms-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
}
/* Stagger interval */
/* Stagger interval */
.dd0,
.dd1,
.dd2,
.dd3,
.dd4,
.dd5,
.dd6,
.dd7,
.dd8,
.dd9,
.dd10,
.dd11,
.dd12,
.dd13,
.dd14,
.dd15,
.dd16,
.dd17,
.dd18,
.dd19,
.dd20 {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.animated-version .dd0,
.animated-version .dd1,
.animated-version .dd2,
.animated-version .dd3,
.animated-version .dd4,
.animated-version .dd5,
.animated-version .dd6,
.animated-version .dd7,
.animated-version .dd8,
.animated-version .dd9,
.animated-version .dd10,
.animated-version .dd11,
.animated-version .dd12,
.animated-version .dd13,
.animated-version .dd14,
.animated-version .dd15,
.animated-version .dd16,
.animated-version .dd17,
.animated-version .dd18,
.animated-version .dd19,
.animated-version .dd20 {
  -webkit-animation: bottomFadeIn 1.5s both cubic-bezier(0.7, 0, 0.3, 1);
  animation: bottomFadeIn 1.5s both cubic-bezier(0.7, 0, 0.3, 1);
}
.dd0 {
  -webkit-animation-delay: 0 !important;
  -moz-animation-delay: 0 !important;
  -ms-animation-delay: 0 !important;
  -o-animation-delay: 0 !important;
  animation-delay: 0 !important;
}
.dd1 {
  -webkit-animation-delay: 0.005s !important;
  -moz-animation-delay: 0.005s !important;
  -ms-animation-delay: 0.005s !important;
  -o-animation-delay: 0.005s !important;
  animation-delay: 0.005s !important;
}
.dd2 {
  -webkit-animation-delay: 0.065s !important;
  -moz-animation-delay: 0.065s !important;
  -ms-animation-delay: 0.065s !important;
  -o-animation-delay: 0.065s !important;
  animation-delay: 0.065s !important;
}
.dd3 {
  -webkit-animation-delay: 0.125s !important;
  -moz-animation-delay: 0.125s !important;
  -ms-animation-delay: 0.125s !important;
  -o-animation-delay: 0.125s !important;
  animation-delay: 0.125s !important;
}
.dd4 {
  -webkit-animation-delay: 0.185s !important;
  -moz-animation-delay: 0.185s !important;
  -ms-animation-delay: 0.185s !important;
  -o-animation-delay: 0.185s !important;
  animation-delay: 0.185s !important;
}
.dd5 {
  -webkit-animation-delay: 0.245s !important;
  -moz-animation-delay: 0.245s !important;
  -ms-animation-delay: 0.245s !important;
  -o-animation-delay: 0.245s !important;
  animation-delay: 0.245s !important;
}
.dd6 {
  -webkit-animation-delay: 0.305s !important;
  -moz-animation-delay: 0.305s !important;
  -ms-animation-delay: 0.305s !important;
  -o-animation-delay: 0.305s !important;
  animation-delay: 0.305s !important;
}
.dd7 {
  -webkit-animation-delay: 0.365s !important;
  -moz-animation-delay: 0.365s !important;
  -ms-animation-delay: 0.365s !important;
  -o-animation-delay: 0.365s !important;
  animation-delay: 0.365s !important;
}
.dd8 {
  -webkit-animation-delay: 0.425s !important;
  -moz-animation-delay: 0.425s !important;
  -ms-animation-delay: 0.425s !important;
  -o-animation-delay: 0.425s !important;
  animation-delay: 0.425s !important;
}
.dd9 {
  -webkit-animation-delay: 0.485s !important;
  -moz-animation-delay: 0.485s !important;
  -ms-animation-delay: 0.485s !important;
  -o-animation-delay: 0.485s !important;
  animation-delay: 0.485s !important;
}
.dd10 {
  -webkit-animation-delay: 0.545s !important;
  -moz-animation-delay: 0.545s !important;
  -ms-animation-delay: 0.545s !important;
  -o-animation-delay: 0.545s !important;
  animation-delay: 0.545s !important;
}
.dd11 {
  -webkit-animation-delay: 0.605s !important;
  -moz-animation-delay: 0.605s !important;
  -ms-animation-delay: 0.605s !important;
  -o-animation-delay: 0.605s !important;
  animation-delay: 0.605s !important;
}
.dd12 {
  -webkit-animation-delay: 0.665s !important;
  -moz-animation-delay: 0.665s !important;
  -ms-animation-delay: 0.665s !important;
  -o-animation-delay: 0.665s !important;
  animation-delay: 0.665s !important;
}
.dd13 {
  -webkit-animation-delay: 0.725s !important;
  -moz-animation-delay: 0.725s !important;
  -ms-animation-delay: 0.725s !important;
  -o-animation-delay: 0.725s !important;
  animation-delay: 0.725s !important;
}
.dd14 {
  -webkit-animation-delay: 0.785s !important;
  -moz-animation-delay: 0.785s !important;
  -ms-animation-delay: 0.785s !important;
  -o-animation-delay: 0.785s !important;
  animation-delay: 0.785s !important;
}
.dd15 {
  -webkit-animation-delay: 0.845s !important;
  -moz-animation-delay: 0.845s !important;
  -ms-animation-delay: 0.845s !important;
  -o-animation-delay: 0.845s !important;
  animation-delay: 0.845s !important;
}
.dd16 {
  -webkit-animation-delay: 0.905s !important;
  -moz-animation-delay: 0.905s !important;
  -ms-animation-delay: 0.905s !important;
  -o-animation-delay: 0.905s !important;
  animation-delay: 0.905s !important;
}
.dd17 {
  -webkit-animation-delay: 0.965s !important;
  -moz-animation-delay: 0.965s !important;
  -ms-animation-delay: 0.965s !important;
  -o-animation-delay: 0.965s !important;
  animation-delay: 0.965s !important;
}
.dd18 {
  -webkit-animation-delay: 1.025s !important;
  -moz-animation-delay: 1.025s !important;
  -ms-animation-delay: 1.025s !important;
  -o-animation-delay: 1.025s !important;
  animation-delay: 1.025s !important;
}
.dd19 {
  -webkit-animation-delay: 1.085s !important;
  -moz-animation-delay: 1.085s !important;
  -ms-animation-delay: 1.085s !important;
  -o-animation-delay: 1.085s !important;
  animation-delay: 1.085s !important;
}
.dd20 {
  -webkit-animation-delay: 1.145s !important;
  -moz-animation-delay: 1.145s !important;
  -ms-animation-delay: 1.145s !important;
  -o-animation-delay: 1.145s !important;
  animation-delay: 1.145s !important;
}
@font-face {
  
}
.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body-font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.heading-1-font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.heading-2-font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.heading-3-font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.heading-4-font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  overflow-x: hidden;
}
body,
html {
  background: #fff;
  height: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html .clear,
body .clear {
  clear: both;
}
html .valign-table,
body .valign-table {
  display: table;
  width: 100%;
  height: 100%;
}
html .valign-table .valign-table-cell,
body .valign-table .valign-table-cell {
  display: table-cell;
  vertical-align: middle;
}
html .vcenter,
body .vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
html .hcenter,
body .hcenter {
  text-align: center;
}
html .hright,
body .hright {
  text-align: right;
}
html #content-wrapper,
body #content-wrapper {
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}
html #content-wrapper.fade,
body #content-wrapper.fade {
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
}
header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: table;
  background-color: transparent;
}
header .container-fluid {
  width: 100%;
  display: table;
  padding: 17px 40px;
}
header .logo-container {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
header .logo-container img {
  width: 117px;
  height: 44px;
}
header .toggle-menu-container {
  display: table-cell;
  vertical-align: middle;
  margin-right: 60px;
  text-align: right;
  z-index: 99999;
}
header .toggle-menu-container .lang-menu {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}
header .toggle-menu-container .toggle-menu {
  float: right;
}
header .toggle-menu-container .toggle-menu a {
  color: #ffffff;
  display: block;
}
header .toggle-menu-container .toggle-menu a:active .nav-bar {
  background-color: #ffffff;
}
header .toggle-menu-container .toggle-menu a .nav-bar {
  background-color: #ffffff;
  display: block;
  height: 3px;
  margin: 3px auto;
  width: 34px;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
header .toggle-menu-container .toggle-menu a .nav-bar:nth-of-type(1n) {
  margin-top: 0px;
}
header .toggle-menu-container .toggle-menu a .nav-bar:nth-of-type(3n) {
  margin-bottom: 0px;
}
header.white-bg {
  background-color: #ffffff;
  z-index: 9999;
  box-shadow: 1px 1px 16px #EAEAEA;
}
#menu-container {
  position: fixed;
  height: 100%;
  width: 30%;
  z-index: 99999;
  right: -800px;
  top: 0;
  text-align: center;
}
#menu-container .toggle-menu-container .toggle-menu {
  position: absolute;
  top: 40px;
  right: 40px;
}
#menu-container .toggle-menu-container .toggle-menu a {
  display: block;
}
#menu-container .toggle-menu-container .toggle-menu a .nav-bar {
  display: block;
  height: 3px;
  margin: 3px auto;
  width: 34px;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
#menu-container .toggle-menu-container .toggle-menu a .nav-bar:nth-of-type(1n) {
  margin-top: 0px;
}
#menu-container .toggle-menu-container .toggle-menu a .nav-bar:nth-of-type(3n) {
  margin-bottom: 0px;
}
#menu-container .toggle-menu-container .toggle-menu a .nav-bar.close:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#menu-container .toggle-menu-container .toggle-menu a .nav-bar.close:nth-of-type(2) {
  display: none;
}
#menu-container .toggle-menu-container .toggle-menu a .nav-bar.close:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  left: 34px;
  top: 0px;
}
#menu-container ul {
  overflow: hidden;
}
#menu-container ul li {
  display: block;
}
#menu-container ul li:first-child {
  margin-bottom: 30px;
}
#menu-container ul li:last-child {
  padding-bottom: 130px;
}
#menu-container ul li:nth-of-type(5) {
  margin-bottom: 30px;
}
#menu-container ul li > a {
  text-transform: capitalize;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  line-height: 44px;
}
#menu-container a.cta-btn-2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  padding: 10px 20px;
  margin-top: 85px;
  display: inline-block;
}
#menu-container a.cta-btn-2:hover {
  text-decoration: none;
}
#menu-container .languages {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
#menu-container .languages .lang {
  float: left;
  width: 25%;
  height: 130px;
  cursor: pointer;
  position: relative;
}
#menu-container .languages .lang .disable-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #faf9f9;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
#menu-container .languages .lang a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
}
#menu-container .languages .lang:nth-of-type(1) {
  background-color: #f5f3f4;
}
#menu-container .languages .lang:nth-of-type(2) {
  background-color: #edeaeb;
}
#menu-container .languages .lang:nth-of-type(3) {
  background-color: #e5e1e2;
}
#menu-container .languages .lang:nth-of-type(4) {
  background-color: #ddd9da;
}
#menu-container .languages .lang.disabled-version {
  cursor: default;
}
#menu-container .languages .lang.disabled-version a {
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
}
#menu-container .languages .lang.disabled-version:hover:nth-of-type(1) {
  background-color: #f5f3f4;
}
#menu-container .languages .lang.disabled-version:hover:nth-of-type(2) {
  background-color: #edeaeb;
}
#menu-container .languages .lang.disabled-version:hover:nth-of-type(3) {
  background-color: #e5e1e2;
}
#menu-container .languages .lang.disabled-version:hover:nth-of-type(4) {
  background-color: #ddd9da;
}
#menu-container .languages .lang.disabled-version:hover a {
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
}
.slider-wrapper {
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}
.slider-wrapper.carousel {
  height: 100%;
}
.slider-wrapper.half-carousel {
  height: 55%!important;
}
.slider-wrapper.small-carousel {
  height: 150px!important;
  margin-top: 80px;
}
.slider-wrapper.fade {
  -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  -webkit-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
}
.slider-wrapper .carousel-inner {
  height: 100%;
}
.slider-wrapper .carousel-inner .bg {
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-wrapper .carousel-inner .bg img.circle {
  margin-top: 30px;
}
.slider-wrapper .carousel-inner .bg1 {
  background-image: url('../images/home/banner/banner-bg-v4.jpg') !important;
  background-position: center center;
}
.slider-wrapper .carousel-inner .massage-bg1 {
  background-image: url('../images/massage/banner/banner-bg-v5.jpg') !important;
  background-position: center center;
}
.slider-wrapper .carousel-inner .features-bg1 {
  background-image: url('../images/features/banner/banner-bg-v5.jpg') !important;
  background-position: center center;
}
.slider-wrapper .carousel-inner .design-bg1 {
  background-image: url('../images/design/banner/banner-bg-v5.png') !important;
  background-position: center center;
}
.slider-wrapper .carousel-inner .specs-bg1 {
  background-image: url('../images/design/banner/banner-bg-v3.jpg') !important;
  background-position: center center;
}
.slider-wrapper .carousel-inner .terms-bg1 {
  height: 150px!important;
}
.slider-wrapper .carousel-inner .privacy-bg1 {
  height: 150px!important;
}
.slider-wrapper .carousel-inner .item {
  height: 100%;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
.slider-wrapper .carousel-inner .item .carousel-caption {
  z-index: 0;
}
.slider-wrapper .privacy-title {
  text-align: center;
  white-space: nowrap;
}
.slider-wrapper div.item div.carousel-caption {
  position: absolute;
  right: auto;
  left: 70%!important;
  top: 0;
  left: auto;
  height: 100%;
  display: table;
  vertical-align: middle;
}
.slider-wrapper div.item div.carousel-caption div.caption-text {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
.slider-wrapper div.item div.carousel-caption div.caption-text h1 {
  text-shadow: none;
  color: #ffffff;
  margin-bottom: 32px;
}
.slider-wrapper div.item div.carousel-caption div.caption-text h5 {
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: none;
  margin-bottom: 27px;
}
.slider-wrapper div.item div.carousel-caption div.caption-text h2 {
  text-shadow: none;
  color: #ffffff;
}
.slider-wrapper div.item div.carousel-caption div.caption-text.color h1 {
  margin-bottom: 43px;
}
.slider-wrapper div.item div.carousel-caption div.caption-text.color span {
  font-size: 17px;
  line-height: 22px;
  text-shadow: none;
  display: block;
  margin-top: -13px;
  margin-left: 40px;
}
.slider-wrapper div.item div.carousel-caption div.caption-text.color div.signature {
  background: url('../images/massage/banner/signature.png') no-repeat;
  width: 134px;
  height: 86px;
}
.slider-wrapper div.bg div.carousel-caption {
  max-width: 287px;
}
.slider-wrapper div.bg div.carousel-caption h2 span.cele-name {
  font-size: 20px;
}
.slider-wrapper div.massage-bg1 div.carousel-caption {
  max-width: 325px;
}
.slider-wrapper div.design-bg1 div.carousel-caption {
  left: 10%!important;
}
.slider-wrapper div.bg1 div.carousel-caption div.caption-text h1 {
  font-size: 40px;
  line-height: 45px;
}
